body {
  background-color: #ffffff;
  color: #333333;
}

ul, li, ul li.collapsed, ul li.expanded, ul li.leaf {
  color: #777777;
}

h1, h2 {
  color: #1d1d1d;
}

#header {
  background-color: #0f753b;
}

#main-content a:link, #main-content a:visited, #main-content a:hover, #main-content a:focus, #main-content a:active {
  color: #6fae1b;
}

#site-menu ul li a {
  color: #666666;
}

#site-menu ul li.active-trail a, #site-menu ul li a.active {
  background: #eeeeee;
  color: #000000;
}

#footer {
  background-color: #689a04;
}
