article.main-content p {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.boxed {
	border-radius: 10px;
	border: 2px solid #689a04;
	padding: 1em;
	margin: 1em 0;
	position: relative;
  box-sizing: border-box;

	> .pane-title {
    background-color: white;
		position: absolute;
		margin: 0;
		top: -15px;
		padding: 0 0.5em;
		display: inline-block !important;
    font-size: 1.15em;

		&.ctools-collapsible-handle {
		  padding-left: 1em;
		}
	}

	.ctools-toggle {
		position: absolute;
		top: -10px;
		z-index: 1;
	}
}

.node-type-panopoly-landing-page .wwm-sanderson {
	.row {
		margin: 0;
		padding: 1em;
	}
	.row:first-child {
		background: url("../images/banner.jpg") center center;
		background-size: cover;
    border: 2px solid #689a04;
    border-radius: 10px;
    margin: 0 0.5em;
	}

	.row:nth-child(2) {
		background: white;
    padding: 1em;
    padding-top: 0;
	}

	.row:nth-child(3) {
		background: #689a04;
	}
}

.myriad-left-sidebar {
  .panel-myriad-layout {
    padding: 0 1em;
    margin-bottom: 1em;
    display: flex;
    flex-flow: row wrap;


    &>div:not([class]) {
      overflow: hidden;
    }
  }
  .main-content {
    display: inline-block;
    width: 100%;
    margin-bottom: 2em;

    @include breakpoint(950px) {
      margin-left: 1em;
      flex: 1 0;
      order: 1;
    }
  }
  .sidebar {
    width: 100%;
    min-width: 275px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;

    @include breakpoint(950px) {
      display: inline-block;
      margin-right: 1em;
      flex: 0 300px;
      margin-top: 10px;
    }

    > .panel-pane {
      flex: 1 300px;
      display: inline-block;
      margin: 0.5em;

      @include breakpoint(375px) {
        min-width: 300px;
      }
    }
  }
}

.pane-node-field-video {
  margin-bottom: 10px;
}

.sidebar {
  div.panel-pane div.node.node-advertisement {
    &.node-card-image-portrait,
    &.node-card-amazon-book {
      .panel-display {
        padding: 0;
        margin: 0;
      }

      .col-1 {
        float: none;
        margin: 0;
        text-align: center;
        width: 100%;
      }
      .col-2 {
        width: 100%;
        text-align: center;
      }
    }
  } 
}

.pane-card-cycles-card-random {
  .panel-display {
    padding: 0;
    margin-bottom: 0;

    .col-1, .col-2 {
      width: 100%;
    }
  }

  .field--name-field-amazon-book-listing .field__item {
    text-align: center;
  }

  .views-slideshow-cycle-main-frame-row {
    .views-row {
      @include breakpoint(0px 949px) {
        margin: 0;
      }
    }
    h2 {
      margin: 0.5em 0 0 0;
      text-align: center;
    }
    h3 {
      margin: 0 0 0.5em 0;
      text-align: center;
    }
  }

  .pane-node-field-card-image {
    text-align: center;
  }
}

div.panel-pane div.node.node-advertisement {
 	background-color: #f5f5f5;
  padding: 1em;
	border-radius: 10px;
	border: 2px solid #689a04;
	margin-bottom: 2em;
	width: 100%;
	box-sizing: border-box;

  &.node-card-image-portrait,
  &.node-card-amazon-book {
    .col-1 {
      text-align: center;
    }
  }

  &.node-card-image-landscape {
    text-align: center;
  }

  .pane-node-title {
    text-align: center;

    h2 {
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  }
  .pane-node-field-card-sub-headline {
    text-align: center;
  }

  .file-image img {
    margin: auto;
  }
  .file-video iframe {
    display: table;
    margin: auto;
  }

  .field-items {
    margin-left: 0;
  }
}

.pane-node-field-amazon-book-listing {
  display: block;

  .field-name-field-amazon-book-listing {
    border: 0px;
  }
}

.pane-node-field-call-to-action {
  display: table;
  margin: 1em auto 0;
  padding: 6px 12px !important;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #e03333;

  a {
    color: #fff;
    white-space: normal;
  }

  &:hover {
    background-color: #ff4242;
    text-decoration: none;
  }
}

div.panel-pane div.node.node-testimonial {
	background-color: #f5f5f5;
  padding: 1em;
	border-radius: 10px;
	border: 2px solid #689a04;
  margin-bottom: 2em;

  .field--name-field-amazon-book-listing {
    margin-bottom: 0.1em;

    a {
      color: black;
  
      &:hover {
        color: #009a43;
        text-decoration: underline;
      }
    }
  }

	.pane-node-field-video {
		text-align: center;
	}

	.book-thumbnail {
		float: left;
		margin-right: 1em;
	}

	.row-one {
		.col-1 {
			float: left;
			margin-right: 1em;
		}
		.col-2 {
			.pane-node-field-amazon-book-listing {
				display: block;

        .field--name-field-amazon-book-listing a {
          color: black;

          &:hover {
            color: white;
            text-decoration: underline;
          }
        }

				.pane-title {
			  	display: inline-block;
          float: left;

          &:after {
            content: '\00a0';
          }
				}
			}
		}
	}

  .row-two .col-1 {
    float: left;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .row-2 {
    .pane-node-field-amazon-book-listing {
      display: block;
      overflow: hidden;

      .pane-title, .field-name-field-amazon-book-listing {
        display: inline-block;
        float: left;

        &:after {
          content: '\00a0';
        }
      }
    }
  }

  .field-items {
    margin-left: 0;
  }
}

div.panel-pane div.node.node-testimonial.node-testimonial-video {
	padding: 0;

	.pane-node-field-video {
		background: #d8debc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
		padding: 1em;
	}
	.row-2 {
		padding: 0 1em 1em 1em;
    margin-top: 1em;

    .panel-pane.pane-node-title h2 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
	}
}

div.panel-pane div.node.node-testimonial.node-testimonial-image {
	padding: 0;

	.row-one {
		background: #d8debc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
		color: black;
		padding: 1em;

		.pane-node-title h2 {
			margin: 0;
		}
	}

	.row-two {
		padding: 0 1em 1em 1em;
    margin-top: 1em;

    .field--name-field-written-testimonial p {
      margin-bottom: 0;
    }
	}
}

.action-links {
	list-style: none;
    font-size: 11px;

	a {
		border-radius: 5px;
	    margin: 0 5px 0 0;
	    padding: 0 5px 0 25px;
	    background: $primary url('../images/buttons.png') -800px 50% no-repeat;
	    color: #fff;
	    float: left;
	    line-height: 20px
	}
}

.views-slideshow-cycle-main-frame-row {
  width: 100%;

  .views-slideshow-cycle-main-frame-row-item {
    margin-top: 0;
    padding-top: 2em;
  }
}
#views_slideshow_cycle_teaser_section_card_cycles-card_random {
  width: 100% !important;
}

table.fc-border-separate {
  border-collapse: collapse;
  border: 1px solid grey;
}

.fc-day.ui-widget-content {
  border: 1px solid #cccccc;
}

.row {
  margin: 0;
  padding: 0 1em;
}

.views-field-edit-node  a,
a[id*="edit-fields"]:not([title="Change widget type."]),
a[title="Export instance"] {
  text-transform: capitalize;
  display: inline-block;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  color: #fff;
  background-color: #0f753b;
  text-shadow: none;
}

#field-display-overview .field-formatter-settings-edit {
  cursor: pointer;
  padding: 3px 10px;
  color: white;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  background-color: #0f753b;
  border-color: #0f743a;
}

td {
  .description {
    font-size: 14px;
    margin-left: 1em;
  }
}

.field--name-field-resources {
  .field-collection-view {
    margin: 0;
    padding: 0;

    .field__item {
      display: list-item;
      margin-left: 1.5em;
    }
  }
}

.advanced-help-link {
  float: left;
}

.page-admin-help {
  ul { 
     list-style-type: disc; 
  }
  ul ul, ol ul { 
     list-style-type: circle; 
  }
  ol ol ul, ol ul ul, ul ol ul, ul ul ul {
      list-style-type: square;
  }
  li {
    margin-left: 2em;
    margin-bottom: 0.8em;
    line-height: normal;
  }
}

.view-empty {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #689a04;
  padding: 1em;
  margin: 1em 0;
  position: relative;
  box-sizing: border-box;
  color: red;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.view {
  .pager li {
    display: inline-block;
  }
}

.pane-views-68df6443216479c90da4235283a03ab4 {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.pane-categories-panel-pane-1,
.pane-news-test-panel-pane-3,
.pane-articles-test-panel-pane-7,
.pane-press-releases-test-panel-pane-3,
.pane-panopoly-faq-panel-pane-5 {
  .views-row {
    display: inline-block;
    width: 49%;

    @include breakpoint(667px 943px) {
      display: inline-block;
      width: 160px;
      margin-right: 10px;
    }
  }
}
.pane-categories-panel-pane-4 {
  .views-row {
    display: inline-block;
    width: 160px;
    margin-right: 10px;
  }
}

.pane-card-cycles-card-slideshow {
  .views-slideshow-cycle-main-frame,
  .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
  }

  .col-1 {
    width: 100%;
    text-align: center;
  }

  .field--name-field-card-image {
    text-align: center;
  }
  .field--name-field-card-sub-headline {
    text-align: center;
  }
  .pane-node-title h2 {
    margin: 0;
  }

  .views-slideshow-controls-text {
    text-align: center;
  }
  .views-slideshow-controls-text-pause {
    margin: 0.5em;
  }
  .views-slideshow-controls-text-previous a:before {
    content: "\f104";
    font-family: FontAwesome;
    color: inherit;
    margin-right: 0.3em;
  }
  .views-slideshow-controls-text-next a:after {
    content: "\f105";
    font-family: FontAwesome;
    color: inherit;
    margin-left: 0.3em;
  }
}
.vscc-controls {
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 2em;
  
  span {
    vertical-align: middle;
    display: inline-block;
  }
  .vscc_controls_pause {
    display: inline-block;
    a {
      line-height: 2em;
    }
  }
}
