.front #content {
	padding: 1em;

	.panel-myriad-layout {
		display: flex;
		flex-flow: row wrap;

		>div {
			flex: 1 1 100%;
		}

		@include breakpoint(667px 943px) {
			.latest-book,
			.pane-full-calendar-panel-pane-2 {
				flex: 1 1 0;
				margin-right: 0.5em;
			}

			.free-book-video,
			.pane-press-releases-test-panel-pane-7 {
				flex: 1 1 0;
				margin-left: 0.5em;
			}
		}

		@include breakpoint(944px) {
			.pane-articles-test-panel-pane-8,
			.pane-panopoly-faq-panel-pane-6,
			.pane-nodequeue-2-panel-pane-3,
			.pane-news-test-panel-pane-7 {
				flex: 2 1 0;
			}
			.pane-articles-test-panel-pane-8,
			.pane-nodequeue-2-panel-pane-3 {
				margin-right: 0.5em;
			}
			.pane-panopoly-faq-panel-pane-6,
			.pane-news-test-panel-pane-7 {
				margin-left: 0.5em;
			}

			.latest-book,
			.pane-full-calendar-panel-pane-2,
			.free-book-video,
			.pane-press-releases-test-panel-pane-7 {
				flex: 1 1 0;
			}

			.latest-book,
			.pane-full-calendar-panel-pane-2 {
				margin-left: 0.5em;
			}

			.free-book-video,
			.pane-press-releases-test-panel-pane-7 {
				margin-right: 0.5em;
			}
		}

	}

	.pane-articles-test-panel-pane-8,
	.pane-panopoly-faq-panel-pane-6,
	.pane-news-test-panel-pane-7 {
		background: url(../images/banner.jpg) center center;
	}

	.pane-press-releases-test-panel-pane-7 {
		background-color: #f5f5f5;

		.views-row {
			background-color: #ffffff;
		}
	}

	.view-footer {
		text-align: center;
		margin-top: 0.5em;

		p {
			margin: 0;
			font-weight: bold;
		}

		a {
			color: #EA4335;
		}
	}

	.boxed > .pane-title {
		position: initial;
		background: transparent;
		width: 100%;
		text-align: center;
		font-size: 1.5em;
	}

	.featured-display {
	    height: auto;

	    .view-content .views-row {
	    	min-width: 0;
	    }
	}

	.boxed,
	.pane-panopoly-widgets-general-content-piece-of-content {
		margin: 0.5em 0;
	}

	.pane-panopoly-widgets-general-content-piece-of-content,
	.pane-panopoly-widgets-general-content-piece-of-content .view,
	.pane-panopoly-widgets-general-content-piece-of-content .view .view-content,
	.pane-panopoly-widgets-general-content-piece-of-content .view .view-content .views-row,
	.pane-panopoly-widgets-general-content-piece-of-content .view .view-content .views-row .node {
		display: inherit;
	}
	.pane-panopoly-widgets-general-content-piece-of-content .view .view-content .views-row .node {
		margin-bottom: 0;
	}
}