.front #content {
	padding: 1em;

	.myriad-row {
		display: flex;

		> div {
			margin-left: 0.5em;
			margin-right: 0.5em;
			margin-top: 1em;
			margin-bottom: 1em;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.row-one>div:first-child,
	.row-two>div:last-child,
	.row-three>div:first-child,
	.row-four>div:last-child {
		flex: 2;
	}
	.row-one>div:last-child,
	.row-two>div:first-child,
	.row-three>div:last-child,
	.row-four>div:first-child {
		flex: 1;
	}

	.pane-articles-test-panel-pane-8,
	.pane-panopoly-faq-panel-pane-6,
	.pane-news-test-panel-pane-7 {
		background: url(../images/banner.jpg) center center;
	}

	.pane-press-releases-test-panel-pane-7 {
		background-color: #f5f5f5;

		.views-row {
			background-color: #ffffff;
		}
	}

	.view-footer {
		text-align: center;
		margin-top: 0.5em;

		p {
			margin: 0;
			font-weight: bold;
		}

		a {
			color: #EA4335;
		}
	}

	.boxed > .pane-title {
		position: initial;
		background: transparent;
		width: 100%;
		text-align: center;
		font-size: 1.5em;
	}

	.featured-display {
	    height: auto;
	}

	[data-pane="3142"]>div,
	[data-pane="3144"]>div {
		.pane-panopoly-widgets-general-content-piece-of-content,
		.pane-panopoly-widgets-general-content-piece-of-content .view,
		.pane-panopoly-widgets-general-content-piece-of-content .view .view-content,
		.pane-panopoly-widgets-general-content-piece-of-content .view .view-content .views-row,
		.pane-panopoly-widgets-general-content-piece-of-content .view .view-content .views-row .node {
			display: inherit;
		}
	}
	.pane-panopoly-widgets-general-content-piece-of-content .view .view-content .views-row .node {
		margin-bottom: 0;
	}
}