// ::-webkit-scrollbar {
//     width: 12px;
// }
 
// /* Track */
// ::-webkit-scrollbar-track {
//     background: #eee;
//     border: 1px solid #e6e6e6;
// }
 
// /* Handle */
// ::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     background: #ababab;
// }
// ::-webkit-scrollbar-thumb:window-inactive {
// 	background: rgba(0,255,0,0.4); 
// }

/* For IE */
body {
	scrollbar-face-color: rgba(1,148,1,0.8);
}

/* For other browsers */
.jspVerticalBar {
	width: 12px;
	background: transparent;
}

.jspTrack {
    background: #eee;
    border: 1px solid #e6e6e6;
}
 
.jspDrag {
    border-radius: 10px;
    background: #ababab;
}

.jspScrollable, .jspContainer, .scroll-pane {
    width: 100% !important;
}

.jspPane {
    width: calc(100% - 14px) !important;
}

.scroll-pane {
    max-height: 275px;
    overflow-y: scroll;
}